.stopwatch {
  width: 20%;
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
  text-align: center;
  margin: auto auto 1rem;

  h2 {
    margin-bottom: .5rem;
  }

  button {
    font-family: 'Roboto', sans-serif;
    width: 100%;
  }
}

